{% extends 'students/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% comment %} <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Integrations - Brand</title>
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

  </head> {% endcomment %}

  {% block nav_bar %}


  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'notes' %}">Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'index' %}">CRM</a>
    </li>
    <li class="nav-item"></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
    </li>
  </ul>
  {% endblock nav_bar %}

{% block body %}
    <section class="py-5 mt-5">

        {% if students %}

      <div class="container py-4 py-xl-5" style="margin-top: -34px;">
        <span class="underline" style="font-size: 45px;padding-bottom: 0px;padding-top: 0px;margin-top: 2px;"><strong>Students</strong></span>
        <a href="{% url 'add' %}" class="btn btn-primary shadow" style="padding-bottom: 3px;margin-bottom: 14px;margin-top: -28px;margin-right: 196px;margin-left: 624px; padding-left: 11px;" >
          <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
          Add Student
        </a>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
                <th>ID</th>
                <th>USN number</th>
                <th>Name</th>
                <th>Subject</th>
                <th>Email</th>
                <th>GPA</th>
                <th>Gender</th>
                <th><center>Actions</center></th>
              </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.usn_number }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.subject }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.gpa }}</td>
                <td>{{ student.gender }}</td>
                <td>
                 
                  <a type="button" class="btn btn-success me-1" href="{% url 'edit' student.id %}" >
                    <i class="fa-solid fa-user-pen"></i>
                  </a>

                  

                  
                   <a class='btn btn-danger me-1' href="{% url 'delete' student.id %}" >
                    <i class="fa-solid fa-trash"></i>
                   </a> 

                </td>
            </tr>
            
            {% endfor %}
          </tbody>

        </table>
        {% else  %}
        &nbsp;
        <h5>
          No students
        </h5>
      {% endif %}
      </div>
    {% comment %} </section>
    <section class="py-5" style="margin-top: -84px;">
      <section class="py-5">
        <div class="container">
          <div class="border rounded border-white d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5">
            <div class="text-center text-lg-start py-3 py-lg-1">
              <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2><p class="mb-0">Imperdiet consectetur dolor.</p>
            </div>
            <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post">
              <div class="my-2">
                <input class="shadow-sm form-control" type="email" name="email" placeholder="Your Email" />
              </div>
              <div class="my-2"></div>
            </form>
          </div>
        </div>
      </section>
      <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;padding-bottom: 0px;margin-bottom: -50px;">
          <div class="col mb-5">
            <img class="rounded img-fluid" src="/assets/img/illustrations/data-management.svg" />
          </div>
          <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
            <div>
              <h5 class="fs-3 fw-bold mb-4">Data management&nbsp;tools</h5><p class="text-muted mb-4">Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p><a class="fw-bold link-primary mb-3" href="#">
                Browse tools&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="15" y1="16" x2="19" y2="12"></line>
                  <line x1="15" y1="8" x2="19" y2="12"></line>
                </svg>
              </a><div class="d-flex">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                  </svg>
                </div>
                <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                  </svg>
                </div>
                <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}
    <footer></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    {% endblock body %}
  {% comment %} </body> {% endcomment %}
</html>
