*{
  font-family: Raleway, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
} 

body{
  padding: 0px 8%;
}


/* Header CSS */ 

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  width: 40px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo-context{
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 6px;
  cursor: pointer;
}

.logo-container{
  display: flex;
}

nav ul{
  display: flex;
}

nav ul li{
  padding: 25px 25px;
  list-style-type: none;

}

nav ul li a{
  text-decoration: none;
  color: black;
  margin-right: 10  0px;
  font-weight: bold;
  font-size: 16px;
}

nav ul li a:hover{
  color: rgb(229, 208, 112);
  transition: .4s;
  font-size: 17px;

}

/* Body CSS */ 

h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-heading{
  text-align: center;
}


span{
  color: rgb(255,210,0);
}

.container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.a{
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin-left: 50px; 
  margin-right: 50px;
  padding: 20px; 
}

.b{
  border: 1px solid black;
  width: 200px;
  height: 150px; 
  padding: 20px; 
  margin-right: 50px;

}

.c{
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin-right: 50px; 
  padding: 20px; 
}

.d{
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin-right: 50px; 
  padding: 20px; 
}

.e{
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin-right: 50px; 
  padding: 20px; 
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
}

.container-download{
  display: flex;
  justify-content: center;
}

.download-button{
  border: none;
  color: black;
  background-color: rgb(255,210,0);
  margin-top: 15px;
  padding: 8px;
  border-radius: 5px;
}

.notes-section{
  display: block;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.underline{
  text-decoration-color: rgb(255,210,0);
  text-decoration-line: underline;
}

/* Footer CSS */

span .stuff-no{
  font-family: Arial;
  background-color: rgb(255,210,0);
  font-weight: bold;
  font-size: 20px;
}

.stuff{
  margin-top: 60px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.box-container{
  display: flex;
  background-color: rgb(36,40,91);
  width: 60%;
  height: 100px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: 20%;
  border-radius: 6px;
}

.question{
  color: rgb(255,210,0);
  font-weight: bold;
  margin-left: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

.contact-button{
  margin-right: 30px;
  background-color: white;
  color: rgb(45,45,45);
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.copyright-claim{
  font-family: Arial; 
  text-align: center;
  margin-top: 60px;
  font-size: 12px;

}