*{
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header CSS */ 

header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-image{
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  
  cursor: pointer;
}

.logo-context{
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 6px;
  cursor: pointer;
}

.logo-container{
  display: flex;
  justify-content: flex-end;
}

nav ul{
  display: flex;
}

nav ul li{
  padding: 25px 25px;
  list-style-type: none;

}

nav ul li a{
  text-decoration: none;
  color: black;
  margin-right: 10  0px;
  font-weight: bold;
  font-size: 16px;
}

nav ul li a:hover{
  color: rgb(255,210,0);
  transition: .4s;
  font-size: 17px;

}

/* Body CSS */ 

h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-heading{
  text-align: center;
  margin-top: 12px;
  font-size: 17.5px;
}


span{
  color: rgb(255,210,0);
}

.container1{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.container2{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.a{
  border: 2px solid rgb(255,210,0);
  width: 200px;
  height: 200px;
  margin-left: 100px; 
  margin-right: 30px;
  padding: 20px; 
}

.b{
  border: 2px solid rgb(255,210,0);
  width: 200px;
  height: 200px; 
  padding: 20px; 
  margin-right: 30px;

}

.c{
  border: 2px solid rgb(255,210,0);
  width: 200px;
  height: 200px; 
  padding: 20px;
  margin-right: 30px; 
}

.d{
  border: 2px solid rgb(255,210,0);
  width: 200px;
  height: 200px;
  margin-right: 100px; 
  padding: 20px; 
}


.title{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;

}

.container-view{
  display: flex;
  justify-content: center;
}


/* .viewContainer{
  top: ;
} */

.view-button:hover{
  color: rgb(255,210,0);
  background-color: black;
  transition: .4s;
}

.notes-section{
  display: block;
  margin: 50px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}


.underline{
  text-decoration-color: rgb(255,210,0);
  text-decoration-line: underline;
  margin: auto;
  font-size: 35px;
  margin-left: 20px;
}

/* Footer CSS */

span .stuff-no{
  font-family: Arial;
  background-color: rgb(255,210,0);
  font-weight: bold;
  font-size: 20px;
  box-shadow: 10px 1px 0px black;
}

.stuff{
  margin-top: 60px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.box-container{
  display: flex;
  background-color: rgb(36,40,91);
  width: 60%;
  height: 100px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: 20%;
  border-radius: 6px;
}

.question{
  color: rgb(255,210,0);
  font-weight: bold;
  margin-left: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

.contact-button{
  margin-right: 30px;
  background-color: white;
  color: rgb(45,45,45);
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.contact-button:hover{
  background-color: rgb(45,45,45);
  color: white;
  transition: .4s;
}

.copyright-claim{
  font-family: Arial; 
  text-align: center;
  margin-top: 60px;
  font-size: 12px;

}

.team{
  margin: 10px;
  color: rgb(255,210,0);
  font-size: large;
}


main{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 3px;
  row-gap: 20px;
  overflow: hidden;
}

.noteContainer{
  width: 170px;
  height: 200px;
  padding: 15px;
  border: 1px solid rgb(23, 23, 23);
  text-align: center;
  border-radius: 10px;
}

.topNoteContainer{
  height: 60%;
}

.bottomNoteContainer{
  height: 40%;

}


.view-button{
  border: none;
  color: black;
  background-color: rgb(255,210,0);
  margin-top: 10px;
  padding: 14px;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  bottom: 10%;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 620px){
  /* body{
    background-color: chocolate;
  } */

  main{
    display: grid;
    grid-template-columns: 400px;
    justify-content: space-evenly;
    /* align-items: center; */
    /* column-gap: 3px; */
    row-gap: 20px;
    /* overflow: hidden; */
    /* margin-left: ; */
  }

  .container1,.container2{
    display: block ;
    margin-left: 18px;
  }
  .b,.c,.d{
    margin-left: 55px;
  }
  .a{
    margin-left: 55px;
  }
  .a,.b,.c,.d{
    margin-top: 20px;
  }
  .e{
    height: 230px;
  }
  p{
 font-size: 20px;
 padding: 2px;
  }
  .box-container{
    height: 80px;   
    width: 250px;    
  }
  .box-container p{
    font-size: 12px;
  }
  .box-container button{
    padding: 5px;
  }
  .team{
    font-size: 20px;
  }
  .notes-section u{
    font-size: 42px;
  }
}